.App {
  text-align: center;
  font-family: CamptonLight !important;
}

a {
  color: inherit;
  text-decoration: none;
}
@font-face {
  font-family: CamptonLight;
  /* font-family: imported; */
  src: url(../src/campton-cufonfonts/CamptonLight.otf);
}